html {
    scroll-behavior: smooth;
}

body{
    background-image: url("../img/global/img-parallax3.jpg");
    background-size: cover;
    margin: 0%;
    background-attachment: fixed;
}

nav {
    height: 100px;
}

.nav-extended {
    background-color: black !important;
    font-family: 'Urbanist', cursive;
    font-size: 30px;
    font-weight: 50;
}

h2{
    font-family: 'Urbanist', cursive;
    font-weight: 50;
    font-size: 30px;
    text-align: center;
    color: grey;
}

.sidenav {
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Urbanist', cursive;
}

.brand-logo img {
    width: 75px;
    padding: 10px;
}

/* Bordered form */

form {
    margin: 200px;
    overflow: hidden;
    padding: 30px;
    border: 1px solid #e96069;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Full-width inputs */

input[type=text],
input[type=password],
input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin: 15px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    color: rgb(209, 209, 209);
}


/* Set a style for all buttons */

input[type=submit] {
    background-color: #e96069;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #e64853;
    color: black;
    border: 1px solid #e96069;
}


